<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 'helloworld'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum saepe aspernatur, hic voluptate iure quam nihil nobis temporibus, atque veniam autem molestiae totam. Sit delectus error distinctio ea natus pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deleniti quas facere consequatur libero quasi aspernatur? Quibusdam quidem voluptas earum provident praesentium deserunt temporibus quo eos voluptatibus odit! Quidem, esse.</p>


</body>
</html>